/*Fuentes al HTML*/
body,
html{
    margin: 0;
    font-family: "Inter", sans-serif;
}

/*Aplicando Estilos a Header*/
header{
    border: 1px solid red;
    height: 120px; /* Height define una altura fija*/
    background-color: #ff3b3c;
    padding: 1em 0.5em 1em 0.5em;
}

/*Estilos para header*/
.search {
    flex: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /*display: grid;
    grid-template-columns: repeat(3, 1fr); */
}  
.search .form{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}
.search .form input{
    height: 62px;
    border-radius: 14px;
    border: none;
    width: 505px;
    padding: 20px;
    box-sizing: border-box;
}
.search .social ul{
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.search .social ul li{
    padding: 0 10px;
}
.nav{
    padding: 30px 0;
}
.nav ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin: 0;
    padding: 0;
}
.nav ul li a{
    color: white;
    font-weight: 700;
    text-align: left;
    text-decoration: none;
}
a{
    text-decoration: none;
}
.nav ul li a:hover{
    text-decoration: underline;
}

section {
    /* border: 1px solid purple; */
    height: 340px;
}
main {
    /* border: 1px solid blue; */
    height: auto; /* Auto se ajusta automaticamente al contenido*/
    padding-top: 1em;
}


.container{
    width: 100%; /*Se cammbio del 1220px*/ 
    margin: 0 auto; /*Centrar auto el contenedor elementro padre*/
    /*border: 1px solid springgreen; Visualizar sus limites*/
    height: inherit;
    min-height: inherit;
}


/* Estilos para SECTION */
section#hero{
    /* border: 1px solid purple; */
    height: 250px;
    background:url('../assets/hero_bg.png');
    background-size: cover; /*Garantiza imagen de fondo cubra toda area*/
    background-position: top center; /*Coloca iamgen en centro de la seccion y parte superior*/
}
section#hero .container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.title-container span{
    display: block;
    color: white;
    font-weight: 700;    
}
.title-container span:first-child{
    font-size: 40px;
}
.title-container span:last-child{
    font-size: 100px;
    line-height: 80px;
}

/*Estilos al card*/
.product-img{
    width: 100%; /*Imagen cubre todo el ancho de la tarjeta*/
    height: 250px; /*Define altura fija*/
    object-fit: cover; /*Garantizan  la imagen se recorte el enfoque este centrado*/
    object-position: center center;
}
.product-price-block{
    display: flex;
    margin: 5px 0;
    justify-content: space-between;
    align-items: center;
}
.product-card{
    background-color: #f0f0f0;
    border-radius: 14px;
    width: auto;
}
.product-info{
    padding: 20px;
    box-sizing: border-box;
}
.product-title{
    font-size: 20px;
    font-weight: 600;
    word-wrap: break-word;/*Evitar el texto se desborde de su contenedor*/
    display: block;/*El elemento sigueinte se acomoda de forma vertical*/
    line-height: 22px;
}
.product-description{
    font-size: 15px;
    font-weight: 400;
    color: #333;
    /* margin: 6px; */
}
.product-tax-policy{
    font-size: 9px;   
}
.product-price-block .price {
    font-size: 22px;
    font-weight: 700;
    flex: 1;
}
.product-price-block .discount {
    font-size: 12px;
    font-weight: 700;
    color: #428f13;
}

/*Agregando Estilos grid*/
.product-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap:20px;
    padding: 20px;

}

/*Estilos Footer*/
footer {
    /*border: 1px solid #009145; Hexadecimal color code*/
    min-height: 250px; /* Establece una altura minima pero se expande si el contenido requiere*/    
    background-color: #7525a7;
}
footer .container {
    display: flex;
    flex-direction: column;
}
.columns-container {
    flex: 1;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.columns-container .col ul {
    list-style-type: none;
    padding: 0;
}
.columns-container .col ul li {
    padding: 3px 0;
}
.columns-container .col ul li.col-main-item {
    font-weight: bold;
    padding-bottom: 15px;   
}
.columns-container .col ul li a {
    color: white;
    text-decoration: none;
}
.copyright {
    border-top: 1px solid #ba53fb;
    text-align: center;
    color: white;
    font-weight: bold;
    padding: 30px 0;
    box-sizing: border-box;
}
.container .col{
    padding: 1em 3em 1em 3em;
}
  
/* @media screen and (max-width: 768px){
    .product-container{
        width: 100%;
        display: block;
    }
} */

/*Para usarlos con el FLEX*/
/* @media only screen and (max-width: 768px) {
    .product-container {
        display: flex;
        flex-wrap: wrap; 
        justify-content: space-around;
    }
    .product-card {
        width: 45%; 
        margin-bottom: 20px; 
    }
} */
/* Para que los elementos se envuelvan cuando no haya suficiente espacio */
/* Para distribuir los elementos de manera uniforme */
/* Ajustar el ancho de los elementos individuales para que haya espacio entre ellos */
/* Agregar un margen inferior para separar los elementos */


/* Estilos para pantallas más pequeñas, como teléfonos móviles */
@media only screen and (max-width: 600px) {
    header {
        height: 100px; /* Reducir la altura del encabezado */
    }
    section,
    #hero {
        height: 200px; /* Reducir la altura de las secciones */
    }
    .product-container {
        grid-template-columns: repeat(2, 1fr); /* Cambiar a una disposición de 2 columnas */
    }
    .product-img {
        height: 150px; /* Reducir el tamaño de la imagen del producto */
    }
    .title-container span:first-child {
        font-size: 30px; /* Reducir el tamaño del primer título */
    }
    .title-container span:last-child {
        font-size: 70px; /* Reducir el tamaño del segundo título */
    }
    .search .logo img{
        width: 150px;
    }
    .search .form input{
        width: 90px;
    }
    .container .columns-container{
        justify-content: center;
        text-align: center;
    }
    .nav{
        display: none;
    }

}

/* Estilos para pantallas medianas, como tabletas */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
    .product-container {
        grid-template-columns: repeat(3, 1fr); /* Cambiar a una disposición de 3 columnas */
    }
    .search .form input{
        width: 300px;
    }
    .container .columns-container{
        justify-content: center;
        text-align: center;
    }
}

/* Estilos para pantallas grandes, como computadoras de escritorio */
@media only screen and (min-width: 1025px) {
    .product-container {
        grid-template-columns: repeat(4, 1fr); /* Mantener la disposición de 4 columnas */
    }
}
